* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f5f5f5;
}

.active {
  max-height: 50vh;
}

.active-link {
  opacity: 1;
}

nav div {
  display: flex;
  background-color: #f5f5f5;
  height: 12vh;
  align-items: center;
  border-bottom: 0.1px solid #979797;
}

nav div p {
  flex: 4 0 0;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem;
}

nav div i {
  flex: 1 0 0;
  font-size: 2.2rem;
  cursor: pointer;
}

nav ul {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  display: flex;
  transition: max-height 1s ease-out;
  background-color: #fcfcfc;
}

nav ul li {
  list-style: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

nav ul li:nth-last-child(1) {
  border-bottom: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  opacity: 0.5;
}

main #skyscanner {
  max-width: 90vw;
  margin: auto;
  padding: 2rem 0;
}

main .card-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  background-color: #f5f5f5;
}

main .card-container .card {
  height: 20rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem auto;
}

main .card-container .card .image {
  flex: 1;
  background: url(/images/amerika.jpg?836ef38803ca53f424a6d62a7421b5e1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .card-container .card .text {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 0.5rem;
}

main .card-container .card .text .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .card-container .card .text .button button {
  width: 6rem;
  padding: 0.5rem 0;
  margin: 0.5rem;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
}

main .card-container .card .text .button .btn-primary {
  background-color: #0275d8;
}

main .card-container .card .text .button .btn-info {
  background-color: #5bc0de;
}

main .testimonial-container {
  background-color: #f5f5f5;
  padding: 2rem;
  position: relative;
}

main .testimonial-container .fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 5%;
  cursor: pointer;
}

@media (min-width: 601px) {
  main .testimonial-container .fa-chevron-right {
    right: 20%;
  }
}

main .testimonial-container .fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 5%;
  cursor: pointer;
}

@media (min-width: 601px) {
  main .testimonial-container .fa-chevron-left {
    left: 20%;
  }
}

main .testimonial-container h2 {
  text-align: center;
  padding: 1rem;
}

main .testimonial-container .testimonial-slider {
  height: 20rem;
  width: 16rem;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  margin: auto;
}

main .testimonial-container .testimonial-slider img {
  width: 75px;
  margin: 1rem;
}

main .testimonial-container .testimonial-slider p {
  font-size: 0.8rem;
  height: 300px;
  overflow-y: scroll;
  padding: 0.2rem;
}

main .testimonial-container .testimonial-slider .author {
  padding: 1rem;
  text-align: center;
}

main .testimonial-container .testimonial-slider .author h3 {
  font-weight: 400;
  font-size: 0.8rem;
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

